#modal{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.kbb.com%2Fhonda%2Fcivic%2F&psig=AOvVaw1cos9WopLeUrwbh_rX1Xkq&ust=1727975687586000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCIjA_JmZ8IgDFQAAAAAdAAAAABAE);
    display: none;
    background-color: black;
    height: 20vh;
    width: 50%;



}